*
{
    font-family: 'Bebas Neue', cursive;
}
.portada
{
    border-radius: .5rem;
    width: 100%;
    height: 535px;
    margin-top: 20px
}
 @media (max-width:767px)
 {
     .portada{
         height: 350px;
     }
 }